version: 0.3.0.{build}
image: Visual Studio 2017
configuration: Release
init:
- cmd: if "%APPVEYOR_REPO_TAG%" NEQ "true" set BUILD_QUALITY=-unstable
environment:
  SEMVER: 0.3.0
  HIDRIVE_CLIENTID:
    secure: b7+g2EXdhujw/wEzs0mUgZyXEM5iFmulfbcFQxORWmprggQWe1MKwkZjCw3MLlRE
  HIDRIVE_CLIENTSECRET:
    secure: 3udqP0meKf9lw+EhwB/mvVfG2tXBvsS3SwWpQfs7RsPNs4FZy3iHLwwH7v5L25IH
  HIDRIVE_REFRESHTOKEN:
    secure: 2aAKUSlZnV6PubvLx1HU1PMPS4YMcaYeHDwszCDCBEw=
dotnet_csproj:
  patch: true
  file: '**\*.csproj'
  version: '$(SEMVER)'
  package_version: '$(SEMVER).{build}'
  assembly_version: '$(SEMVER)'
  file_version: '$(SEMVER).{build}'
  informational_version: '$(SEMVER)$(BUILD_QUALITY)'
before_build:
- cmd: dotnet user-secrets set "ClientId" "$env:HIDRIVE_CLIENTID" --project "src\Kyrodan.HiDrive.Tests"
- cmd: dotnet user-secrets set "ClientSecret" "$env:HIDRIVE_CLIENTSECRET" --project "src\Kyrodan.HiDrive.Tests"
- cmd: dotnet user-secrets set "RefreshToken" "$env:HIDRIVE_REFRESHTOKEN" --project "src\Kyrodan.HiDrive.Tests"
build_script:
- cmd: build.cmd
after_build:
- cmd: tools\7za.exe a -tzip Kyrodan.HiDriveSDK.%SEMVER%%BUILD_QUALITY%.zip .\src\Kyrodan.HiDrive\bin\%configuration%\*.*
artifacts:
- path: Kyrodan.HiDriveSDK.*.zip
  name: ZIP-Distribution
- path: build\dist\*.nupkg
  name: NuGet Package
deploy:
- provider: NuGet
  api_key:
    secure: sGR4t0DGDW9V8uCS3wkQS/is2NnGc+pizHdfDBocXxuoDUIPQIxt6O4FanfPqTuG
  skip_symbols: false
  artifact: Kyrodan.HiDrive.*.nupkg
  on:
    appveyor_repo_tag: true
- provider: GitHub
  auth_token:
    secure: zqGFJdh0d0e+S2Eyudc4gCjQqImkQutu/TsN9knDXJCXMaVl8izm9vnMK9ayX7VP
  artifact: Kyrodan.HiDriveSDK.*.zip
  draft: true
  prerelease: false
  on:
    appveyor_repo_tag: true
