namespace Kyrodan.HiDrive.Tests
{
	// It is a template file needed to run the test with *YOUR* API-Keys.
	//
	// Kyrodan.HiDrive.TestClient is a command line helper to gather
	// the needed values.

    internal static class ClientConfiguration
    {
        public static string ClientId = "{{ClientId}}";
        public static string ClientSecret = "{{ClientSecret}}";
        public static string RefreshToken = "{{RefreshToken}}";
    }
}